{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Analytics - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Analytics
{% endblock %}

{% block java_scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});
      
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table, 
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        {% include 'GrosComptaBundle:Analytics:chart.html.twig' with data_op_by_type %}
        {% include 'GrosComptaBundle:Analytics:chart.html.twig' with data_exp_by_cat %}
        {% include 'GrosComptaBundle:Analytics:chart.html.twig' with data_exp_by_shop %}
        {% include 'GrosComptaBundle:Analytics:chart.html.twig' with data_exp_by_user %}
    }
</script>
{% endblock %}

{% block sidebar %}
{{ parent() }}
<h3>Filters</h3>
<form>
    <a class="btn btn-mini">Today</a>
    <a class="btn btn-mini">This Week</a>
    <br>
    <a class="btn btn-mini">This Month</a>
    <a class="btn btn-mini">This Year</a>
    <br><br>
    <label>Start Date</label>
    <input type="text">
    <label>End Date</label>
    <input type="text">
    <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}

{% block groscompta_body %}
<div class="row">
    <div id="op_by_type" class="span9"></div>
</div>
<div class="row">
    <div id="exp_by_cat" class="span9"></div>
</div>
<div class="row">
    <div id="exp_by_shop" class="span9"></div>
</div>
<div class="row">
    <div id="exp_by_user" class="span9"></div>
</div>
{% endblock %}
