{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Data Import - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Data Import
{% endblock %}

{% block header_javascripts %}
{{ parent() }}
<script type="text/javascript">
</script>
{% endblock %}

{% block sidebar %}
{{ parent() }}
{% endblock %}


{% block groscompta_body %}
<div class="row">
    <div class="span9">
    </div>
</div>
{% endblock %}

{% block body_javascripts %}
{{ parent() }}
{% endblock %}
