{% extends "::layout.html.twig" %}

{% block title %}
    ComptaGros - {{ parent() }}
{% endblock %}

{% block header %}
    {% include '::navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div id="menu" class="span3">
        <h3>ComptaGros</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('operation') }}">Operations</a></li>
            <li><a href="{{ path('shop') }}">Shops</a></li>
            <li><a href="{{ path('category') }}">Categories</a></li>
            <li><a href="#">Analytics</a></li>
        </ul>

    </div>
    <div id="content" class="span9">
        <h1>{% block sub_title %}{% endblock %}</h1>

        <hr>
        {% block groscompta_body %}
        {% endblock %}
    </div>


{% endblock %}
